<div class="text-center">
  <h1 class = 'text-2xl font-bold'>Welcome to authentication application</h1>
  <%= current_user.email %>
  <p class='text-gray-600'>user sign in <%= user_signed_in? %></p>
</div>